*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 1000vh;
    align-items: center;
    background: linear-gradient(180deg, #f63e3e 0%, #7ae90a 50%, #2c04f5 100%);
}
 
/* pretty minimalistic logo that says "JS Piano" on the top left of the screen */

.logo{ 
    position: fixed;
    top: 0vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 0 6px 10px #000;
    z-index: 4;
    
}

#note-name{
    position: fixed;
    top: 50vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 0 6px 10px #000;
    z-index: 4;
}

#note-name.active{
    text-shadow: 0 10px 10px black;
    transform: translateY(2px);
    /* make it slightly bigger to appear to pop out of the page */
    font-size: 5.5rem;
}


.piano {
    position: fixed;
    top: 15vh;
    display: flex;
    background-color: black;
    border: 10px solid black;
    padding-top: 5vw;
}

.white-key{
    width: 1.75vw;
    height: 10vw;
    background-color: white;
    border: 1px solid black;
}

.white-key.active{
    background-color: #f63e3e;
    /* translate 2 px down to make it look like it's being pressed */
    transform: translateY(2px);
}

.white-key.hover{
    background-color: #f6ce3e;
}

.black-key{
    width: 1.4vw;
    height: 6vw;
    background: black;
    z-index: 2;
    margin-left: -0.7vw;
    margin-right: -0.7vw;
    margin-top: -1px;
}

.black-key.active{
    background-color: #f63e3e;
    transform: translateY(2px);
}

.black-key.hover{
    background-color: #f6ce3e;
}


