*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 200vh;
    align-items: center;
    background: linear-gradient(180deg, #f63e3e 0%, #ff7b7b 50%, #ffa7a7 100%);
}
 
.logo{ 
    position: fixed;
    top: 0vw;
    justify-content: center;
    align-items: center;
    font-family: 'Nabla', sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    text-shadow: 5px 5px 5px #000;
    z-index: 20;
    
}

.piano-logo{
    position: absolute;
    top: 15vw;
    left: 7vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-weight: 700;
    text-shadow: 0 6px 10px #000;
    z-index: 20;
}

.Beta{
    position: fixed;
    top: 0vw;
    right: 5vw;
    font-family: 'Nabla', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    text-shadow: 5px 5px 5px #000;
    z-index: 20;
}

#note-name{
    position: fixed;
    top: 35vw;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 0 6px 10px #000;
    z-index: 4;
}

#note-name.active{
    text-shadow: 0 10px 10px black;
    transform: translateY(2px);
    font-size: 5.5rem;
}


.piano {
    position: absolute;
    top: 15vw;
    display: flex;
    background: rgb(31, 31, 31);
    /* add a shadow to the bottom of the piano */
    box-shadow: 0px 25px 50px 0 rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(31, 31, 31);
    padding-top: 5vw;
}

.change-sound{
    position: absolute;
    display: flex;
    top:15.5vw;

    z-index: 10;
}

@font-face {
    font-family: digital7;
    src: url(digital-7/digital-7.ttf);
}

#sound-selection-text{
    position:relative;
    color: white;
    top: 0.5vw;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'digital7', sans-serif;
}

.display-sound{
    position: relative;
    width: 10vw;
    height: 4vw;
    background: rgb(0, 0, 0);
}

.left-arrow, .right-arrow{
    filter: invert(100%);
    position: relative;
    top: 1vw;
    width: 5vw;
    height: 2vw;
}

.left-arrow.active{
    transform: translateY(2px);
}

.right-arrow.active{
    transform: translateY(2px);
}

.white-key{
    width: 1.75vw;
    height: 10vw;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 90%, rgb(158, 158, 158) 90%, rgb(158, 158, 158) 100%);
    border: 1px solid black;
}

.white-key.active{
    background: linear-gradient(180deg,#f63e3e 0%, #f63e3e 94%, #bb2f2f 94%, #bb2f2f 100%);
}

.white-key.hover{
    background: linear-gradient(180deg,#f6ce3e 0%, #f6ce3e 90%, #ae922c  90%, #ae922c 100%);
}

.black-key{
    width: 1.4vw;
    height: 6vw;
    background: linear-gradient(180deg, rgb(54, 54, 54) 0%, rgb(54, 54, 54) 85%, rgb(0, 0, 0) 85%, rgb(0, 0, 0) 100%);
    border: 2px solid black;
    z-index: 2;
    margin-left: -0.7vw;
    margin-right: -0.7vw;
    margin-top: -1px;
}

.black-key.active{
    background: linear-gradient(180deg,#f63e3e 0%, #f63e3e 90%, #bb2f2f 90%, #bb2f2f 100%);
}

.black-key.hover{
    background: linear-gradient(180deg,#f6ce3e 0%, #f6ce3e 85%, #ae922c  85%, #ae922c 100%);
}


