*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #f63e3e 0%, #ff7b7b 50%, #ffa7a7 100%);
}

body {
  margin: 0;
  padding: 0;
}